*{
  font-family: "Lucida Console", Courier, monospace;
  background-color: #3BD8DD;
}
/*TYPE SELECTORS*/
a{
  display: block;
  color: black;
  text-decoration: none;
}
h1{
  font-size: 80px;
  text-align: center;
  color: white;
  text-shadow: 4px 4px 0 #ff00b3, 2px 2px 0 #ff00b3;
}

table{
  margin-top: 30px;
}
li{
  float: center;
  vertical-align: middle;
}

td{
  padding-right: 30px;
}
ol{
  text-align: center;
  display: inline;
}
/*CLASS SELECTORS*/
/*ID SELECTORS*/

#classTitle{
  font-size: 30px;
  text-align: center;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 0 #ff00b3, 2px 2px 0 #ff00b3;
}

#gradeTitle{
  font-size: 30px;
  text-align: center;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 0 #ff00b3, 2px 2px 0 #ff00b3;
}

#weightTitle{
  font-size: 30px;
  text-align: center;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 0 #ff00b3, 2px 2px 0 #ff00b3;
}
#creditsTitle{
  font-size: 30px;
  text-align: center;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 0 #ff00b3, 2px 2px 0 #ff00b3;
}
#trash{
  width:50px;
  height:50px;
  border: none;
  background-size: 100%;
  background-size: 40px auto;
}

#inputGrade{
  width:17px;
  margin: 10px 20px 10px 30px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  border-radius: 5px;
  color: black;
}

#inputWeight{
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  border-radius: 5px;
}

#submit{
  color: white;
  font-size: 20px;
  width: 200px;
  height: 50px;
  border-width: 5px;
  border-radius: 10px;
  margin-left: 660px;
  margin-top: 20px;
  position: absolute;
  top: 45%;
  right: 12%;

}

#gpa{
  list-style: none;
  font-size: 60px;
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: 57%;
  right: 19%;
}

#message{
  font-size: 45px;
  text-align: center;
  list-style: none;
}
#reload{
  border-radius: 30px;
  position: absolute;
  top: 20px;
  right: 50px;
  width: 70px;
  height: 70px;
  padding: 10px;
}
